<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="col-xs-12">
    <br>
    <%= profile_img(@user, "small") %><br>
    <%= @user.name %><br>
    <%= @user.email %><br>
    <%= link_to "ユーザ一覧に戻る", users_path, class: "btn btn-default margin-top10" %>

    

  </div>
</div>
